<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Flaskr</h1>
        <ul>
            {% if g.user %}
                <li></li>
                <li></li>
            {% else %}
                <li></li>
                <li></li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>
